<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mappers.product">


<select id="list" resultType="com.company.domain.productVO">

	select 
		showNo,
		name,
		contents,
		writer,
		images,
		detail,
		color,
		size,
		viewCnt
	from showpinglist


</select>

<insert id="write" parameterType="com.company.domain.productVO">

	insert into showpinglist
	(	name,
		contents,
		writer,
		images,
		detail,
		color,
		size
	) values
	(
	#{name},
	#{contents},
	#{writer},
	#{images},
	#{detail},
	#{color},
	#{size}
	)
	;
	


</insert>

<select id="click" parameterType="int" resultType="com.company.domain.productVO">
select 
		showNo,
		name,
		contents,
		writer,
		images,
		detail,
		color,
		size,
		viewCnt
	from 
		showpinglist
	where
		showNo=#{showNo}


</select>

<update id="modify" parameterType="com.company.domain.productVO" >

	update showpinglist
		set
			name = #{name},
			contents = #{contents},
			images = #{images},
			detail = #{detail},
			color = #{color},
			size = #{size}
		where showNo = #{showNo}
	</update>
	
	<delete id="delete" parameterType="int">
	delete 
	
		from  
			showpinglist
		where 
			showNo = #{showNo}
	</delete>
	
	<select id="count" resultType="int">
	select 
		count(showNo)
	from 
		showpinglist 
	
	</select>
	
	<select id="listPage" parameterType="hashMap" resultType="com.company.domain.productVO">
select 
		showNo,
		name,
		contents,
		writer,
		images,
		detail,
		color,
		size,
		viewCnt
	from 
		showpinglist
		order by showNo desc
		limit #{displayPost}, #{postNum} 

	</select>
	
	
	

</mapper>